* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: #f0f0f0;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}